<header id="header">
  <nav>
    <div class="max-w-6xl mx-auto flex justify-between items-center">
      <a href="index.html" class="text-2xl font-bold text-blue-600 dark:text-blue-500">Syahrul.dev</a>

      <!-- Tombol hamburger -->
      <button id="toggleBtn" class="md:hidden text-2xl px-2 rounded-lg border border-gray-800 dark:border-gray-100 text-gray-800 dark:text-gray-100 transition">☰</button>

      <!-- Dekstop Menu -->
      <ul id="menu" class="hidden md:flex space-x-6 text-gray-700 dark:text-white font-semibold">
        <li><a href="index.html#beranda" class="nav-link hover:text-blue-500">Beranda</a></li>
        <li><a href="about.html" class="nav-link hover:text-blue-500 hover:underline">Tentang</a></li>
        <li><a href="index.html#skill" class="nav-link hover:text-blue-500">Skill</a></li>
        <li><a href="project.html" class="nav-link hover:text-blue-500 hover:underline">Proyek</a></li>
        <li><a href="index.html#kontak" class="nav-link hover:text-blue-500">Kontak</a></li>
        <!-- Tombol Toggle Mode -->
        <button id="theme-toggle" class="px-3 py-1 text-sm border border-blue-600 dark:border-blue-400 text-blue-600 dark:text-blue-400 rounded hover:bg-blue-100 dark:hover:bg-blue-900 transition">🌓 Mode</button>
      </ul>
    </div>

    <!-- Menu di HP -->
    <ul id="mobileMenu" class="md:hidden hidden mt-4 space-y-2 text-gray-700 dark:text-white font-semibold">
      <li><a href="index.html#beranda" class="nav-link hover:text-blue-500">Beranda</a></li>
      <li><a href="about.html" class="nav-link hover:text-blue-500 hover:underline">Tentang</a></li>
      <li><a href="index.html#skill" class="nav-link hover:text-blue-500">Skill</a></li>
      <li><a href="project.html" class="nav-link hover:text-blue-500 hover:underline">Proyek</a></li>
      <li><a href="index.html#kontak" class="nav-link hover:text-blue-500">Kontak</a></li>
      <!-- Tombol Toggle Mode -->
      <button id="theme-toggle" class="px-3 py-1 text-sm border border-blue-600 dark:border-blue-400 text-blue-600 dark:text-blue-400 rounded hover:bg-blue-100 dark:hover:bg-blue-900 transition">🌓 Mode</button>
    </ul>
  </nav>
</header>
