<!-- Ini section proyek dari index  -->
<!-- //Section Kartu-Kartu proyek -->
<section id="project-card" class="py-20 scroll-mt-20 bg-gradient-to-br from-slate-50 via-slate-50 to-slate-200 dark:from-gray-900 dark:via-gray-900 dark:to-gray-900 transition">
  <h3 data-aos="zoom-in" class="text-3xl font-bold text-center">Proyek Saya</h3>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 px-6 py-16 max-w-6xl mx-auto">
    <!-- Landing page sederhana-->
    <div
      data-aos="fade-up"
      data-aos-delay="100"
      data-category="html tailwind javascript"
      class="project-card border-2xl rounded-lg overflow-hidden border border-gray-200 dark:border-gray-700 bg-white dark:bg-gray-800 hover:shadow-xl transition"
    >
      <img src="assets/preview-landing.png" alt="Preview Proyek" class="w-full h-30 object-cover" />
      <div class="p-4 sm:p-6">
        <h4 class="text-2xl font-bold mb-2 text-gray-900 dark:text-white">Landing Page Tailwind</h4>
        <p class="text-sm text-gray-600 dark:text-gray-300">Landing page responsif dengan Tailwind CSS. Mendukung dark mode otomatis dan sudah di-deploy ke Netlify.</p>
        <div class="flex items-center gap-2 mt-4">
          <span class="bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">HTML</span>
          <span class="bg-purple-100 text-purple-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-purple-900 dark:text-purple-300">Tailwind</span>
          <span class="bg-yellow-100 text-yellow-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300">JavaScript</span>
        </div>
        <a href="https://landing-page-syahrul.netlify.app/" target="_blank" class="block mt-4 text-sm font-medium text-blue-600 dark:text-blue-400 hover:underline">🔗 Lihat Proyek</a>
        <a href="https://github.com/Syahrulannm/landing-page-tailwind" target="_blank" class="block text-sm text-gray-600 dark:text-gray-400 hover:underline mt-1">💻 Lihat Kode</a>
      </div>
    </div>
    <!-- Tema Dark/Light-->
    <div
      data-aos="fade-up"
      data-aos-delay="100"
      data-category="javascript tailwind"
      class="project-card border-2xl rounded-lg overflow-hidden border border-gray-200 dark:border-gray-700 bg-white dark:bg-gray-800 hover:shadow-xl transition"
    >
      <img src="assets/preview-dark-light.png" alt="Preview Proyek" class="w-full h-30 object-cover" />
      <div class="p-4 sm:p-6">
        <h4 class="text-2xl font-bold mb-2 text-gray-900 dark:text-white">Toggle Tema (Dark/Light)</h4>
        <p class="text-sm text-gray-600 dark:text-gray-300">Fitur saklar untuk tema gelap dan terang, menggunakan JavaScript dan Tailwind. Mode tersimpan otomatis.</p>
        <div class="flex items-center gap-2 mt-4">
          <span class="bg-yellow-100 text-yellow-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300">JavaScript</span>
          <span class="bg-purple-100 text-purple-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-purple-900 dark:text-purple-300">Tailwind</span>
        </div>
        <a href="https://dark-light-syahrul.netlify.app/" target="_blank" class="block mt-4 text-sm font-medium text-blue-600 dark:text-blue-400 hover:underline">🔗 Lihat Proyek</a>
        <a href="https://github.com/Syahrulannm/toggle-theme" target="_blank" class="block text-sm text-gray-600 dark:text-gray-400 hover:underline mt-1">💻 Lihat Kode</a>
      </div>
    </div>
    <!-- Kartu Profil -->
    <div data-aos="fade-up" data-aos-delay="100" data-category="html css" class="project-card border-2xl rounded-lg overflow-hidden border border-gray-200 dark:border-gray-700 bg-white dark:bg-gray-800 hover:shadow-xl transition">
      <img src="assets/preview-kartu-profil.png" alt="Preview Proyek" class="w-full h-30 object-cover" />
      <div class="p-4 sm:p-6">
        <h4 class="text-2xl font-bold mb-2 text-gray-900 dark:text-white">Kartu Profil Sederhana</h4>
        <p class="text-sm text-gray-600 dark:text-gray-300">Kartu profil dengan desain sederhana dan bersih, menggunakan HTML dan CSS (tanpa framework).</p>
        <div class="flex items-center gap-2 mt-4">
          <span class="bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">HTML</span>
          <span class="bg-green-100 text-green-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">CSS</span>
        </div>
        <a href="https://kartu-profil-namsy.netlify.app/" target="_blank" class="block mt-4 text-sm font-medium text-blue-600 dark:text-blue-400 hover:underline">🔗 Lihat Proyek</a>
        <a href="https://github.com/Syahrulannm/kartu-profil" target="_blank" class="block text-sm text-gray-600 dark:text-gray-400 hover:underline mt-1">💻 Lihat Kode</a>
      </div>
    </div>

    <!-- Landing profil -->
    <div
      data-aos="fade-up"
      data-aos-delay="100"
      data-category="html tailwind javascript"
      class="project-card border-2xl rounded-lg overflow-hidden border border-gray-200 dark:border-gray-700 bg-white dark:bg-gray-800 hover:shadow-xl transition"
    >
      <img src="assets/preview-landing-motor.png" alt="Preview Proyek" class="w-full h-30 object-cover" />
      <div class="p-4 sm:p-6">
        <h4 class="text-2xl font-bold mb-2 text-gray-900 dark:text-white">Landing Page Jual Motor</h4>
        <p class="text-sm text-gray-600 dark:text-gray-300"></p>
        <div class="flex items-center gap-2 mt-4">
          <span class="bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">HTML</span>
          <span class="bg-purple-100 text-purple-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-purple-900 dark:text-purple-300">Tailwind</span>
          <span class="bg-yellow-100 text-yellow-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300">JavaScript</span>
        </div>
        <a href="https://landing-motor-syahrul.netlify.app/" target="_blank" class="block mt-4 text-sm font-medium text-blue-600 dark:text-blue-400 hover:underline">🔗 Lihat Proyek</a>
        <a href="https://github.com/Syahrulannm/landing-motor-syahrul" target="_blank" class="block text-sm text-gray-600 dark:text-gray-400 hover:underline mt-1">💻 Lihat Kode</a>
      </div>
    </div>

    <!-- Landing motor -->
    <div
      data-aos="fade-up"
      data-aos-delay="100"
      data-category="html tailwind javascript"
      class="project-card border-2xl rounded-lg overflow-hidden border border-gray-200 dark:border-gray-700 bg-white dark:bg-gray-800 hover:shadow-xl transition"
    >
      <img src="assets/preview-filter-modal.jpeg" alt="Preview Proyek" class="w-full h-30 object-cover" />
      <div class="p-4 sm:p-6">
        <h4 class="text-2xl font-bold mb-2 text-gray-900 dark:text-white">Katalog Motor Interaktif</h4>
        <p class="text-sm text-gray-600 dark:text-gray-300">Landing page katalog motor dengan fitur pencarian real-time, hapus produk, dan popup detail. Dibangun menggunakan Tailwind CSS dan JavaScript DOM dinamis.</p>
        <div class="flex items-center gap-2 mt-4">
          <span class="bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">HTML</span>
          <span class="bg-purple-100 text-purple-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-purple-900 dark:text-purple-300">Tailwind</span>
          <span class="bg-yellow-100 text-yellow-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300">JavaScript</span>
        </div>
        <a href="https://produk-filter-modal.netlify.app/" target="_blank" class="block mt-4 text-sm font-medium text-blue-600 dark:text-blue-400 hover:underline">🔗 Lihat Proyek</a>
        <a href="https://github.com/Syahrulannm/produk-motor-filter-modal" target="_blank" class="block text-sm text-gray-600 dark:text-gray-400 hover:underline mt-1">💻 Lihat Kode</a>
      </div>
    </div>

    <!-- Undangan Digital -->
    <div
      data-aos="fade-up"
      data-aos-delay="100"
      data-category="html tailwind javascript"
      class="project-card border-2xl rounded-lg overflow-hidden border border-gray-200 dark:border-gray-700 bg-white dark:bg-gray-800 hover:shadow-xl transition"
    >
      <img src="assets/preview-undangan-digital.jpeg" alt="Preview Proyek" class="w-full h-30 object-cover" />
      <div class="p-4 sm:p-6">
        <h4 class="text-2xl font-bold mb-2 text-gray-900 dark:text-white">Undangan Pernikahan Digital</h4>
        <p class="text-sm text-gray-600 dark:text-gray-300">
          Undangan pernikahan digital yang responsif dan elegan, dibangun dengan HTML, Tailwind CSS, dan JavaScript. Memiliki fitur musik latar, dark mode, RSVP interaktif, galeri, hingga ucapan tamu. Tersedia efek visual seperti bunga
          jatuh dan lightbox untuk pengalaman yang lebih hidup.
        </p>
        <div class="flex items-center gap-2 mt-4">
          <span class="bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">HTML</span>
          <span class="bg-purple-100 text-purple-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-purple-900 dark:text-purple-300">Tailwind</span>
          <span class="bg-yellow-100 text-yellow-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300">JavaScript</span>
        </div>
        <a href="https://undangan-digital-syahrul.netlify.app/" target="_blank" class="block mt-4 text-sm font-medium text-blue-600 dark:text-blue-400 hover:underline">🔗 Lihat Proyek</a>
        <a href="https://github.com/Syahrulannm/undangan-digital" target="_blank" class="block text-sm text-gray-600 dark:text-gray-400 hover:underline mt-1">💻 Lihat Kode</a>
      </div>
    </div>

    <!-- Company profil -->
    <div
      data-aos="fade-up"
      data-aos-delay="100"
      data-category="html tailwind javascript"
      class="project-card border-2xl rounded-lg overflow-hidden border border-gray-200 dark:border-gray-700 bg-white dark:bg-gray-800 hover:shadow-xl transition"
    >
      <img src="assets/preview-company.jpeg" alt="Preview Proyek" class="w-full h-30 object-cover" />
      <div class="p-4 sm:p-6">
        <h4 class="text-2xl font-bold mb-2 text-gray-900 dark:text-white">Company Profil - Syahrul.dev</h4>
        <p class="text-sm text-gray-600 dark:text-gray-300">Website portofolio interaktif dan responsif menggunakan Tailwind CSS & JavaScript. Fitur dark mode, animasi, dan layout profesional.</p>
        <div class="flex items-center gap-2 mt-4">
          <span class="bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">HTML</span>
          <span class="bg-purple-100 text-purple-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-purple-900 dark:text-purple-300">Tailwind</span>
          <span class="bg-yellow-100 text-yellow-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300">JavaScript</span>
        </div>
        <a href="https://company-profil-syahrul.netlify.app/" target="_blank" class="block mt-4 text-sm font-medium text-blue-600 dark:text-blue-400 hover:underline">🔗 Lihat Proyek</a>
        <a href="https://github.com/Syahrulannm/company-profil-syahrul" target="_blank" class="block text-sm text-gray-600 dark:text-gray-400 hover:underline mt-1">💻 Lihat Kode</a>
      </div>
    </div>
    <!-- 🧩 Tambahkan kartu lain nanti ! ! -->
  </div>
</section>
